body{
    font-family: arial, sans-serif;
}
.nav-top {
    margin-top: 15px;
    li
    {
        justify-items: center;
        list-style-type: none;
        padding-right: 20px;
        display: inline;
        a{
            padding-top: 10px;
            text-decoration: none;
            color: #555555;
            display: block;
        }
    }
    ul{
        display: flex;
        justify-content: flex-end;
        margin: 0px;
        padding: 0px;

    }
    .fa-th{
        font-size: 1.2em;
    }
}
.pic-prof img{
    height: 40px;
    border-radius: 50%;
}
.content{
    width: 582px;
    margin: 200px auto 0px auto;
    display: grid;
    text-align: center;
    .searchbar{
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        align-items: center;
        width: 100%;
        border: 0.5px solid lightgray;
        border-radius: 50px;
        height: 40px;
        margin-top: 20px;

        &:hover{
            box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
        }
        .inputform{
            border: none;
            &:focus{
                outline: none;
            }
        }
        .fa-microphone,
        .fa-search{
            color: lightgray;
        }
    }
    .buttons{
        margin-top: 20px;
    }
    .search,
    .lucky{
        padding: 10px;
        border-radius: 3px;
        background-color: #f0f0f0;
        text-decoration: none;
        color: #222;

        font-size: small;
        &:hover{
            border: 1px solid darkgray;
            box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
        }

    }

}
.footer-country{
    background-color: #f0f0f0;
    position: fixed;
    bottom: 50px;
    left: 0%;
    right: 0%;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    p{
        color: #222;
        font-size: 9pt;
        padding-left: 40px;
    }
}
.footer-nav-menu{
    display: grid;
    grid-template-columns: auto auto;
    height: 50px;
    background-color: #f0f0f0;
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    .footer-nav-right{
        justify-self: end;
    }
    li{
        list-style-type: none;
        float: left;
        padding-right: 20px;
        font-size: 9pt;
        a{
            text-decoration: none;
            color: #222;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}